[flake8]
# E126: continuation line over-indented for hanging indent
# This one is bad. Sometimes ordering matters, conditional imports
# setting env vars necessary etc.
# E402: module level import not at top of file
# E129: Visual indent to not match indent as next line, counter eg here:
# https://github.com/PyCQA/pycodestyle/issues/386
# W504: line break after binary operator
#       (Raised by flake8 even when it is followed)
ignore = E126, E402, E129, W504
max-line-length = 145
exclude = test_import_fail.py,
  parsl/executors/workqueue/parsl_coprocess.py
# E741 disallows ambiguous single letter names which look like numbers
# We disable it in visualization code because plotly uses 'l' as
# a keyword arg
# F821: undefined name
per-file-ignores = parsl/monitoring/visualization/*:E741,
  # test_ssh_errors.py really is broken

  # tests often import fresh_config into their namespace as local_config
  # but then do not use it directly, because tests/conftests.py
  # looks for it instead.
  parsl/tests/**:F401
