[flake8]
# E124: closing bracket does not match visual indentation
# E126: continuation line over-indented for hanging indent
# This one is bad. Sometimes ordering matters, conditional imports
# setting env vars necessary etc.
# E402: module level import not at top of file
# E129: Visual indent to not match indent as next line, counter eg here:
# https://github.com/PyCQA/pycodestyle/issues/386
# W504: line break after binary operator
#       (Raised by flake8 even when it is followed)
ignore = E124, E126, E402, E129, W504
max-line-length = 160
exclude = parsl/executors/serialize/, test_import_fail.py
# E741 disallows ambiguous single letter names which look like numbers
# We disable it in visualization code because plotly uses 'l' as
# a keyword arg
# F821: undefined name
per-file-ignores = parsl/monitoring/visualization/*:E741,
  # needed because this deliberately has undefined names in it
  parsl/tests/test_swift.py:F821,
  # test_ssh_errors.py really is broken
  parsl/tests/integration/test_channels/test_ssh_errors.py:F821,
  # I had visualization problems with this import removed, which I need to
  # investigate before pushing this to master. This exemption works around
  # that.
  parsl/monitoring/visualization/app.py:F401
