[flake8]
# E124: closing bracket does not match visual indentation
# E126: continuation line over-indented for hanging indent
# This one is bad. Sometimes ordering matters, conditional imports
# setting env vars necessary etc.
# E402: module level import not at top of file
# E129: Visual indent to not match indent as next line, counter eg here:
# https://github.com/PyCQA/pycodestyle/issues/386
# W504: line break after binary operator
#       (Raised by flake8 even when it is followed)

# flake8-bugbears
# B006: Do not use mutable data structures for argument defaults.
# B007: Loop control variable 'i' not used within the loop body
# B008: Do not perform function calls in argument defaults.
# B011: Do not call assert False since python -O removes these calls.
# B019: Use of `functools.lru_cache` or `functools.cache` on methods can lead to memory leaks.
# B027 script_dir is an empty method in an abstract base class, but has no abstract decorator.
# B028: No explicit stacklevel argument found. 

ignore = E124, E126, E402, E129, W504, B007, B008, B011, B019, B027, B028

max-line-length = 158
exclude = test_import_fail.py,
  parsl/executors/workqueue/parsl_coprocess.py
# E741 disallows ambiguous single letter names which look like numbers
# We disable it in visualization code because plotly uses 'l' as
# a keyword arg
# F821: undefined name
per-file-ignores = parsl/monitoring/visualization/*:E741,
  # test_ssh_errors.py really is broken
  parsl/tests/integration/test_channels/test_ssh_errors.py:F821,

  # tests often import fresh_config into their namespace as local_config
  # but then do not use it directly, because tests/conftests.py
  # looks for it instead.
  parsl/tests/**:F401
