pyzmq>=17.1.2
typeguard==4.0.0
# typeguard 4.0.1 just released as I write this message 
# breaks with this error:
#
#    def __init__(self, config: Config = Config()) -> None:
# parsl/config.py:80: in __init__
#    Literal['task_exit'],
# E   NameError: name 'task_exit' is not defined
 
typing-extensions>=4.6,<5
six
globus-sdk
dill
tblib
requests
paramiko
psutil>=5.5.1
setproctitle
