flake8==3.8.0
importlib<5  # due to flake8 incompatibility with importlib 5.0.0
ipyparallel
pandas
pytest>=6.2.5,<7
pytest-cov
pytest-xdist==1.26.1
pytest-random-order
mock>=1.0.0
nbsphinx
sphinx_rtd_theme
mypy==0.981
types-python-dateutil
types-requests
types-six
sqlalchemy-stubs
Sphinx==4.5.0
twine
wheel
