flake8==3.8.0
importlib-metadata<5  # due to flake8 incompatibility with importlib 5.0.0
ipyparallel
# pandas   - removed because it seems to want to build with now-removed distutils
pytest>=6.2.5,<7
pytest-cov
pytest-random-order
mock>=1.0.0
nbsphinx
sphinx_rtd_theme
mypy==1.1.1
types-python-dateutil
types-requests
types-six

# sqlalchemy is needed for typechecking, so it's here
# as well as at runtime for optional monitoring execution
# (where it's specified in setup.py)
sqlalchemy>=1.4,<2
sqlalchemy2-stubs

Sphinx==4.5.0
twine
wheel
