table {
    border-collapse: collapse;
}
th {
    background: #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

tr:nth-child(even) {
    background: #efefef;
}

tr:hover {
    background: #d1d1d1;
}