:root {
    --parsl-dark-blue: #2D5992;
    --parsl-light-blue: #83B0DC;
}

#page_content {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}
th {
    background: #ccc;
    padding: 8px;
}

tr {
    height: 30px;
    line-height: 30px;
}

th, td {
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background: #efefef;
}

tr:hover {
    background: #d1d1d1;
}

/* Deal with td expansion and overflow. Contain table to window. Table scrolliing */
td {
    width: 250px;
    height: 100%;
    white-space: nowrap;
    text-align: center;
}

td a {
    box-sizing: border-box;
    display: inline-block;
    height:100%;
    width:100%;
    padding: 8px;
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
}

.dropdown {
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-size: 0.9em;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: auto;
    height: 133px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown .dropbtn img {
    margin-left: 10px;
    width: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.flex_container {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_container {
    margin: 0 20px;
}

.title_container h3 {
    border-bottom: 1px black solid;
}

.title_container p {
    font-size: 0.9em;
}

.dropdown_container {
    justify-self: flex-end;
}

.parsl_logo {
    justify-self: flex-start;
    width: 100px;
    height: 100%;
}

.view_title {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}

.plot_container {
    border: 1px solid lightgray;
}

.plot_components {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 20px 0 0;
}

.plot_components * {
    margin-left: 20px;
}

#select_task_id, #select_apps {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tasks_dropdown, #apps_dropdown {
    margin-left: 20px;
    width: 250px;
}

/*#apps_dropdown {*/
    /*margin-left: 20px;*/
/*}*/