{% extends "layout.html" %}

{% block content %}

<br />
    <h2>File Details</h2>
    <table class="table table-hover">
        <tr><td>Name:</td><td>{{ file_details['file_name'] }}</td></tr>
        <tr><td>Id:</td><td>{{ file_details['file_id'] }}</td></tr>
        <tr><td>Size:</td><td>{{ file_details['size'] }} bytes</td></tr>
        <tr><td>md5sum:</td><td>{{ file_details['md5sum'] }}</td></tr>
        {% if file_details['timestamp'] %}
        <tr><td>Creation date:</td><td>{{ file_details['timestamp'] | timeformat }}</td></tr>
        {% endif %}
        <tr><td>Workflow:</td><td><a href="workflow/{{ file_details['run_id'] }}/">{{ workflow.workflow_name }}</a></td></tr>
        {% if output_file %}
            <tr><td>Created by:</td><td><a href="/workflow/{{ file_details['run_id'] }}/task/{{ output_file['task_id'] }}">{{ tasks[output_file['task_id']]['task_func_name'] }}</a></td></tr>
        {% endif %}
        {% if input_files %}
            <tr><td>Used by:</td><td>
                {% for input in input_files %}
                    <a href="/workflow/{{ file_details['run_id'] }}/task/{{ input['task_id'] }}">{{ tasks[input['task_id']]['task_func_name'] }}</a><br />
                {% endfor %}
            </td></tr>
        {% endif %}
        {% if environment %}
            <tr><td>Environment:</td><td>
<a href="/workflow/{{ file_details['run_id'] }}/environment/{{ environment['environment_id'] }}">{{ environment['label'] }}</a>
            </td></tr>
        {% endif %}
    </table>
{% endblock %}